[Unit]
Description=A simple daemon that listens for udev USB events and sends out a notification to dbus

[Service]
ExecStart=/usr/local/bin/udev-notify-daemon

[Install]
WantedBy=default.target
